<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       <add key="surging.cloud.repo" value="" />	  
	   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
      <surging.cloud.repo>
        <add key="Username" value="admin" />
        <add key="ClearTextPassword" value="" />
      </surging.cloud.repo>
   </packageSourceCredentials>
</configuration>